# basic
#numpy>=1.11.1,<2.0.0
#pandas>=0.18.1,<1.0.0
numpy
numerize
pandas>=1.3.0
setuptools
prettyprinter

# data analysis
scipy
scikit-image

# visualization
streamlit
altair
matplotlib 
seaborn
dfply
plotly
vega_datasets

